<body>
    <mat-toolbar color="primary">
      <mat-icon></mat-icon>
      
      <p>FOOD WASTAGE</p>
      <div class="spacer"></div>
      <a mat-raised-button color="accent" routerLink="home3">Home</a>
      <a mat-raised-button color="accent" routerLink="contact">CONTACT</a>
      
      <a mat-raised-button color="accent" routerLink="about">ABOUT</a>
      <a mat-raised-button color="accent" routerLink="services">SERVICES</a>
      
      <a mat-raised-button color="accent" routerLink="hotallogin">HOTEL LOGIN</a>
      <a mat-raised-button color="accent" routerLink="customerlogin">CUSTOMER LOGIN</a>
      <a mat-raised-button color="accent" routerLink="">logout</a>
    
     
     
      </mat-toolbar>
      <router-outlet></router-outlet>
    </body>