<div class="contacts-container">
    <h2>Our Team</h2>
    <div class="contact">
      <img src="../assets/ganesh.jpg.jpeg" alt="Team Member 1">
      <h3>SINGAM VENKATA SATYA VIJAYA GANESH</h3>
      <p>Position: project </p>
      <p>Email: SINGAM VENKATA SATYA VIJAYA GANESHh@gmail.com</p>
      <p>Phone: +91 7675859516</p>
    </div>
    <div class="contact">
        <img src="../assets/raju.jpg.jpeg" alt="Team Member 1">
      <h3>KOLAKANI RAJU</h3>
      <p>Position: UX Designer</p>
      <p>Email: KOLAKANI RAJU@gmai.com</p>
      <p>Phone: +1 7675849423</p>
    </div>
    <div class="contact">
        <img src="../assets/goutham.jpg.jpeg" alt="Team Member 1">
        <h3>GUNTUR GOWTHAM</h3>
        <p>Position: Software Engineer</p>
        <p>Email:GUNTUR GOWTHAM@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </div>
      <div class="contact">
        <img src="../assets/abhi.jpg.jpeg" alt="Team Member 1">
        <h3>ABHIRAM KUDARI</h3>
        <p>Position: Software Engineer</p>
        <p>Email: ABHIRAM KUDARI@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </div>
      <div class="contact">
        <img src="../assets/arivand.jpg.jpeg" alt="Team Member 1">
        <h3>VENKATA ARAVIND TUNUGUNTLA</h3>
        <p>Position: Software Engineer</p>
        <p>Email:VENKATA ARAVIND TUNUGUNTLA@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </div>
      <div class="contact">
        <img src="../assets/koushik.jpg.jpeg" alt="Team Member 1">
        <h3>PENDELA CHENCHU KOUSHIK </h3>
        <p>Position: Software Engineer</p>
        <p>Email: 
            PENDELA CHENCHU KOUSHIK
            @gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </div>
      <div class="contact">
        <img src="../assets/ijaz.jpg.jpeg" alt="Team Member 1">
        <h3>SHAIK YALAVARTHI UAZ AHAMAD</h3>
        <p>Position: Software Engineer</p>
        <p>Email: SHAIK YALAVARTHI UAZ AHAMAD@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </div>
      <div class="contact">
        <img src="../assets/akhil.jpg.jpeg" alt="Team Member 1">
        <h3>KUNCHAPU AKHIL KUMAR</h3>
        <p>Position: Software Engineer</p>
        <p>Email: KUNCHAPU AKHIL KUMAR@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </div>
      <div class="contact">
        <img src="../assets/likith.jpg.jpeg" alt="Team Member 1">
        <h3>YALLANTI LIKHITH PRASANNA KUMAR</h3>
        <p>Position: Software Engineer</p>
        <p>Email:YALLANTI LIKHITH PRASANNA KUMAR@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </div>
  </div>
  