<div class="d1">
  <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef>Hotel ID</th>
      <td mat-cell *matCellDef="let element">{{ element[0] }}</td>
    </ng-container>
    <ng-container matColumnDef="disease">
      <th mat-header-cell *matHeaderCellDef>Hotel Name</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!editMode">{{ element[1] }}</ng-container>
        <input *ngIf="editMode" type="text" [(ngModel)]="element[1]">
      </td>
    </ng-container>
    <ng-container matColumnDef="cause">
      <th mat-header-cell *matHeaderCellDef>Food Type</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!editMode">{{ element[2] }}</ng-container>
        <input *ngIf="editMode" type="text" [(ngModel)]="element[2]">
      </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!editMode">{{ element[3] }}</ng-container>
        <input *ngIf="editMode" type="text" [(ngModel)]="element[3]">
      </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!editMode">{{ element[4] }}</ng-container>
        <input *ngIf="editMode" type="text" [(ngModel)]="element[4]">
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="editData(element)">
          <mat-icon>{{ editMode ? 'save' : 'edit' }}</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteData(element[0])">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['sno', 'disease', 'cause', 'address', 'phone', 'edit']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['sno', 'disease', 'cause', 'address', 'phone', 'edit']"></tr>
  </table>
  <button mat-raised-button color="primary" style="float: right;" (click)="show()">Add data</button><br><br>
  
</div>

<div class="d1">
  <div class="t1">
    <table>
      <caption><h2></h2></caption>

      <tr>
        <td><input type="text" name="hotalid" placeholder="Enter Hotel ID" [(ngModel)]="newCause.hotalid"></td>
        <td><input type="text" name="hotal_name" placeholder="Enter Hotel Name" [(ngModel)]="newCause.hotal_name"></td>
        <td><input type="text" name="foodtype" placeholder="Enter Food Type" [(ngModel)]="newCause.foodtype"></td>
        <td><input type="text" name="address" placeholder="Enter Address" [(ngModel)]="newCause.address"></td>
        <td><input type="text" name="phone" placeholder="Enter Phone Number" [(ngModel)]="newCause.phone"></td>
        <button mat-raised-button color="accent" style="float: right;align-self: center;" (click)="insertData(newCause)">Submit</button>
      </tr>
    </table>
  </div>
</div>
